.container-services {

  background: var(--background);
  padding: 6.375rem 60px;
  height: 100%;

}

.content-services {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.title-detail-services {
  position: absolute;
  top: -5.25rem;
  right: -2.5rem;
  font-size: 9.375rem;
  font-weight: 700;

  color: var(--black-200);

}

.content-services h1 {
  text-align: center;
  position: relative;
  z-index: 2;

}


.cards-services {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
}



.cards-services .cards-services-item {

  border-radius: 20px;
  width: 360px;
  height: 453px;
  background: var(--black-300);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cards-services .cards-services-item img {
  width: 150px;
}


.cards-services .cards-services-item div {
  padding: 16px 23px;
  margin-bottom: 46px;
}

.cards-services .cards-services-item h3 {
  font-size: 18px;
}

.cards-services .cards-services-item p {
  margin-top: 16px;
  font-size: 14px;
}

.detail-project-services {
  position: absolute;
  left: 1.25rem;
  bottom: -150px;
}


@media (min-width: 1400px) {
  .container-services {
    height: 100vh;

  }

}


@media (max-width: 1025px) {

  .title-detail-services {
    display: none;
  }

  .detail-project-services {
    width: 80px;

    right: 95%;
    bottom: -150px;
  }
}

@media (max-width: 769px) {

  .content-services h1 {
    font-size: 44px;
  }

  .cards-services {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 481px) {


  .detail-project-services {
    display: none;
  }

  .cards-services .cards-services-item {
    width: 100%;
  }

}