.container-projects {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;

  height: 100%;
  position: relative;
}

.title-detail-projects {
  position: absolute;
  top: -1.25rem;
  left: -2.5rem;
  font-size: 9.375rem;
  font-weight: 700;

  color: var(--black-100);
}

.container-projects h1 {
  text-align: center;
  z-index: 2;
}


.detail-project {
  position: absolute;
  right: 1.25rem;
  bottom: 20px;
}


@media (min-width: 1400px) {
  .container-projects {
    height: 100vh;

  }

}

@media (max-width: 1025px) {
  .title-detail-projects {
    display: none;
  }

  .detail-project {
    width: 80px;

    right: 50px;
  }

}

@media (max-width: 769px) {


  .content-services h1 {
    font-size: 44px;
  }
}

@media (max-width: 481px) {

  .detail-project {
    display: none;
  }
}

.swiper {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next{
 color: var(--gray-100);
}

.swiper-pagination-bullet-active{
  background: var(--gray-100);
}
