header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;

  position: fixed;
  z-index: 999;
  top: 0;
  background: var(--black);
  transition: background 0.3s;
  /* animation: menu-close 0.3s; */
  /* background-color: rgb(115, 162, 202); */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.menu-active {
  display: none;
}

.off-menu {
  display: none;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}


@media (max-width: 560px) {


  .header-active {
    position: fixed;
    display: flex;
    align-items: start;
    right: 0;
    width: 60%;
    height: 100%;
    animation: menu-open 0.5s;

  }

  .navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
  }

  .menu-active {
    display: flex;
    align-self: flex-end;
    height: 30px;
    width: 30px;
  }

  .menu {
    display: none;
  }

  .menu-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes menu-open {
  from {
    height: 50px;
  }

  to {
    height: 100%;
  }

}

/* @keyframes menu-close {
  from {
    display: flex;
    align-items: start;
    right: 0;
    width: 60%;
    height: 100%;
  }

  to {
    height: 50px;
  }

} */

/* 
.activeBackground {
  margin-left: 3.125rem;
  height: 100vh;
  animation: menu-open 0.5s;
}



@keyframes menu-open {
  from {
    height: 10px;
  }

  to {
    height: 100vh;
  }

}


@keyframes menu-close {
  from {
    height: 100vh;
  }

  to {
    height: 10px;
  }

} */