header {
  padding: 0px 30px;
  background: var(--black);

  width: 100%;
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;

  animation: menu-close 0.5s;


}

header nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

.active-button {
  display: none;
}

.off-button {
  display: none;
}

@media (max-width: 481px) {

  header nav {
    height: 10px;
  }

  .activeBackground {
    height: 100vh;
    animation: menu-open 0.5s;
  }

  .menu-list {
    display: none;
    opacity: 0;
  }

  .active {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
  }

  .active-button {
    display: block;
    margin-left: 90%;
    margin-top: 10px;
    width: 40px;
    height: 40px;

  }

}

@keyframes menu-open {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }

}


@keyframes menu-close {
  from {
    height: 100vh;
  }

  to {
    height: 0;
  }

}