header {
  padding: 0px 30px;
  background: var(--black);

  width: 100%;
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;

}

header nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}