.title {
  line-height: 4.375rem;
  font-size: 4.25rem;
  margin-bottom: 1.75rem;

}


.title .pink {
  color: var(--pink);
}

.title .purple {
  color: var(--purple);
}

.pink:after {
  content: '';
  display: inline-block;
  background-color: var(--pink);
  margin-left: 2px;
  height: 50px;
  width: 5px;
  border-radius: 2px;
  animation: cursor 0.8s infinite;
}


@media (max-width: 1025px) {
  .title {
    font-size: 54px;
    line-height: 4rem;

  }
}

@media (max-width: 810px) {

  .title {
    word-break: break-word;
  }
}

@media (max-width: 769px) {

  .title {
    word-wrap: normal;
    line-height: 2.5rem;
    font-size: 36px;


  }

}

@media (max-width: 481px) {
  .title {
    text-align: center;
  }

  .pink:after {
    height: 30px;
    width: 3px;
    border-radius: 0px;
  }
}



/* The typewriter cursor effect */
@keyframes cursor {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}