.container-about {
  background: var(--background);
  padding: 6.375rem 0px;
}


.about {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;

}

.title-detail {
  position: absolute;
  top: -6.25rem;
  right: -2.5rem;
  font-size: 9.375rem;
  font-weight: 700;

  color: var(--black-200);

}

.content-about p {
  font-size: 1.5rem;
}

.tech-react {
  color: var(--purple);
}

.tech-typescript {
  color: var(--blue);
}

.tech-next {
  color: var(--pink);
}

.detail {
  position: absolute;
  right: 98%;
  top: 95%;
}

@media (max-width: 1200px) {

  .title-detail {
    font-size: 8rem;
  }
}

@media (max-width: 1025px) {

  .title-detail {
    display: none;
  }

  .detail {
    width: 80px;

    right: 95%;
    top: 95%;
  }
}

@media (max-width: 769px) {

  .container-about {
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;

  }

  .content-about p {
    text-align: center;
  }

  .content-about h1 {
    font-size: 52px;
    margin-bottom: 1rem;
  }

  .content-about p {
    font-size: 1.25rem;
  }
}

@media (max-width: 481px) {}