.container {
  max-width: 1200px;
  height: 100vh;
  margin: 2rem auto;

  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;

}

img {
  flex: 1;
}

.moving-image {
  position: relative;
  animation: move-up-down 2s infinite ease-in-out;
}

@keyframes move-up-down {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}


.content {
  flex: 1;
  width: 50%;

}


@media (max-width: 1025px) {

  img {
    width: 21.875rem;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

  }
}


@media (max-width: 769px) {

  img {
    width: 300px;
  }
}

@media (max-width: 481px) {

  .container {
    flex-wrap: wrap;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}